/* Resetear algunos estilos predeterminados */
body, h1 {
    margin: 0;
    padding: 0;
}

/* Estilo básico para el cuerpo */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 0;
    margin: 0;
}

/* Estilo para el encabezado */
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Estilo para el slider */
.slider {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.slides img {
    width: 100%;
    height: auto;
    display: block;
}

button {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
    border-radius: 3px;
    z-index: 10;
}

button.prev {
    left: 0;
}

button.next {
    right: 0;
}

/* Estilo para las miniaturas */
.thumbnails {
    text-align: center;
    padding: 10px;
}

.thumbnails .thumb {
    width: 100px;
    height: auto;
    cursor: pointer;
    margin: 5px;
    border: 2px solid transparent;
    transition: border-color 0.3s;
}

.thumbnails .thumb:hover {
    border-color: #333;
}

/* Responsive */
@media screen and (max-width: 768px) {
    button {
        padding: 12px;
    }

    .thumbnails .thumb {
        width: 80px;
    }
}
